.main1{
    display: flex;
    background-color:#CADEFC;
    height: 100vh;
    width: 100%;

}
.main2{
    height: 100vh;
}
.container{
    display: flex;
    margin: 400 100;
    margin-right: 0px;
}
.landing-page {
    background-color: #C3BEF0;
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #fff;
    text-align: center;
}
.landing-content {
    padding: 100px 0;
}
.row{
    justify-content: center;
    align-items: center;
    display: flex;
}
.container2{
    padding-top: 200px;
    size: 2em;

}
.form-inline{
    padding-inline-end: 50px;
}
.footer {
    background-color: #333;
    color: white;
    padding: 40px 0;
    margin-right: 0px;
    padding-right: 100px;
}
  
.footer h5 {
    color: #f5c542;
}
.form-inline{
    padding-right: 0px;
}
.footer_row{
    height: 120px;
    width: 1500px;
}
p{
    height: 50;
}
.fbackground{
    background-color: #000;
}
.navbar{
    background-color: #DEFCF9;
}
/* projects*/
.project-section {
    display: flex;
    background-color: #BEFFF7;
    padding: 60px 0;
    text-align: center;
    justify-content: center;
  }
  
  .section-title {
   
    font-size: 2rem;
    margin-bottom: 30px;
    content: 'center';
  }
  
  .project-card {
    margin-bottom: 30px;
   
  }
  
  .card {
    border: none;
    transition: transform 0.3s;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card-title {
    font-weight: bold;
  }


 body{
    background-color: lightblue;
 }
 .back{
    height: 100vh;
 }
  

  

